<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="urldisp">
      <ion-icon name="home"></ion-icon>
      <ion-label>Virtual Splat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notfications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
